:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text: #000;
  --color-primary: #6c40b5;
  --color-background: rgba(255, 255, 255, 0.2);
  --color-background-item: rgba(255, 255, 255, 0.4);
  --bg-image: url("/bg-light.png");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#root {
  isolation: isolate;
}

[data-theme="dark"] {
  --color-text: #fff;
  --color-primary: #28124d;
  --color-background: rgba(26, 26, 26, 0.3);
  --color-background-item: rgba(26, 26, 26, 0.5);
  --bg-image: url("/bg-dark.png");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
}
